@import './styles/tokens.css';
@import './styles/govuk-theme.css';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-family);
  background: var(--base-white);
  color: var(--gray-800);
  -webkit-font-smoothing: antialiased;
}
